header{
    margin-bottom: 64px;
}
h1{
    font-size: 48px;
    margin: 12px 0;
}
#description{
    margin: 8px;
}
p{
    margin-bottom: 3%;
}
a {
    padding: 12px 48px; 
    margin-top: 5%!important;
}
ol{
    list-style: none;
    width: 500px;
    margin: 36px auto 0 auto;
    padding: 0;
}
li{
    padding: 20px;
    border: 5px solid white;
    margin: 32px;
    background-color: rgba(128, 128, 128, 0.32);
    border-radius: 10px;
}
h2{
    font-family: "Oswald", sans-serif;
    font-size: 25px;
}
main p{
    margin: 12px;
}
.highlight-goal{
    background-color: rgba(255, 217, 0, 0.822);
}